.product-item{
    max-width: 250px;
    margin: auto;
}

.product{
    max-height: 550px;
    max-width: 250px;
    margin: auto;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1);
    
}

.product_desc {
    text-align: center;
    padding: 20px 0px;
}
.Description{
    text-align: center;
}
.main_container{
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
}

.product img{
    max-width: 100%;
    max-height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.checked {
    color: orange
}


